#menu{
    background-color: rgba(55,55,55,0.1);
    /* font-family: 'Dosis', sans-serif; */
    text-transform:uppercase;
    font-weight:bold;
    font-size:20px;
    padding:10px;
    margin:20px;
    font-family: 'Merienda', cursive;
  }

  #menu a{
    color:black;
    text-decoration:none;
  }

  #dlist{
    text-align:center;
  }

  .listed{
    display:inline-block;
    padding:0px 50px 0px 50px;
  }